In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/BMI_data.csv')

In [3]:
df

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,ETH,Ethiopia,Year,2016,...,NaN,NaN,19.0,NaN,21.0,20.1 [19 – 21],NaN,NaN,EN,2017-09-26T23:00:00.000Z
1,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,ERI,Eritrea,Year,2016,...,NaN,NaN,19.2,NaN,21.3,20.2 [19.2 – 21.3],NaN,NaN,EN,2017-09-26T23:00:00.000Z
2,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,ETH,Ethiopia,Year,2016,...,NaN,NaN,19.8,NaN,21.3,20.6 [19.8 – 21.3],NaN,NaN,EN,2017-09-26T23:00:00.000Z
3,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,ERI,Eritrea,Year,2016,...,NaN,NaN,19.9,NaN,21.5,20.7 [19.9 – 21.5],NaN,NaN,EN,2017-09-26T23:00:00.000Z
4,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,MDG,Madagascar,Year,2016,...,NaN,NaN,19.9,NaN,22.3,21.1 [19.9 – 22.3],NaN,NaN,EN,2017-09-26T23:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24565,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,SSD,South Sudan,Year,1975,...,NaN,NaN,NaN,NaN,NaN,No data,827.0,No data available.� Estimate could not be calc...,EN,2017-09-26T23:00:00.000Z
24566,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,AFR,Africa,Country,SSD,South Sudan,Year,1975,...,NaN,NaN,NaN,NaN,NaN,No data,827.0,No data available.� Estimate could not be calc...,EN,2017-09-26T23:00:00.000Z
24567,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,EMR,Eastern Mediterranean,Country,SDN,Sudan,Year,1975,...,NaN,NaN,NaN,NaN,NaN,No data,827.0,No data available.� Estimate could not be calc...,EN,2017-09-26T23:00:00.000Z
24568,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,EMR,Eastern Mediterranean,Country,SDN,Sudan,Year,1975,...,NaN,NaN,NaN,NaN,NaN,No data,827.0,No data available.� Estimate could not be calc...,EN,2017-09-26T23:00:00.000Z
24569,NCD_BMI_MEAN,Mean BMI (kg/m²) (age-standardized estimate),numeric,EMR,Eastern Mediterranean,Country,SDN,Sudan,Year,1975,...,NaN,NaN,NaN,NaN,NaN,No data,827.0,No data available.� Estimate could not be calc...,EN,2017-09-26T23:00:00.000Z

In [4]:
df[['Period', 'Location', 'Dim1', 'SpatialDimValueCode', 'Value']]

       Period     Location        Dim1 SpatialDimValueCode               Value
0        2016     Ethiopia        Male                 ETH      20.1 [19 – 21]
1        2016      Eritrea        Male                 ERI  20.2 [19.2 – 21.3]
2        2016     Ethiopia  Both sexes                 ETH  20.6 [19.8 – 21.3]
3        2016      Eritrea  Both sexes                 ERI  20.7 [19.9 – 21.5]
4        2016   Madagascar      Female                 MDG  21.1 [19.9 – 22.3]
...       ...          ...         ...                 ...                 ...
24565    1975  South Sudan      Female                 SSD             No data
24566    1975  South Sudan        Male                 SSD             No data
24567    1975        Sudan  Both sexes                 SDN             No data
24568    1975        Sudan      Female                 SDN             No data
24569    1975        Sudan        Male                 SDN             No data

[24570 rows x 5 columns]

In [5]:
df = df[['Period', 'Location', 'Dim1', 'SpatialDimValueCode', 'Value']]

In [6]:
df.columns = ['Year', 'Country', 'Gender', 'Country_Code', 'BMI']

In [7]:
df.BMI.value_counts()

No data               504
25.1 [24.5 – 25.7]     30
25 [24.6 – 25.4]       29
26 [25.5 – 26.5]       27
25.2 [24.6 – 25.8]     27
                     ...
33.3 [32.8 – 33.8]      1
19.2 [18.6 – 19.7]      1
19.4 [18.3 – 20.7]      1
19.5 [18.8 – 20.3]      1
33.7 [32.5 – 34.8]      1
Name: BMI, Length: 7614, dtype: int64

In [8]:
df = df[df.Gender == 'Both sexes']
df = df.drop('Gender', axis=1)

In [9]:
def remove_range(cell):
    return cell.split(' ')[0]

In [10]:
df.BMI = df.BMI.apply(remove_range)

In [11]:
df.BMI.value_counts()

No      168
25      157
25.1    155
24.9    151
25.2    148
       ...
33.1      2
17.7      2
33.3      2
17.6      1
17.5      1
Name: BMI, Length: 164, dtype: int64

In [12]:
df = df[df.BMI != 'No']

In [13]:
df.BMI.value_counts()

25      157
25.1    155
24.9    151
25.2    148
25.6    147
       ...
33.1      2
17.7      2
33.3      2
17.6      1
17.5      1
Name: BMI, Length: 163, dtype: int64

In [14]:
df.BMI = pd.to_numeric(df.BMI)

In [15]:
df.BMI.value_counts()

25.0    157
25.1    155
24.9    151
25.2    148
25.6    147
       ...
33.1      2
17.7      2
33.3      2
17.6      1
17.5      1
Name: BMI, Length: 163, dtype: int64

In [16]:
countries = df.Country.unique()
years = df.Year.unique()
years.sort()

dict = {country: [] for country in countries}
for country in countries:
    for year in years:
        value = df[df.Country == country][df.Year == year].BMI
        if value.empty == True:
            dict[country].append(float('NaN'))
        else:
            dict[country].append(float(df[df.Country == country][df.Year == year].BMI))

C:\Users\Charlie\AppData\Local\Temp\ipykernel_62600\1819357059.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  value = df[df.Country == country][df.Year == year].BMI
C:\Users\Charlie\AppData\Local\Temp\ipykernel_62600\1819357059.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dict[country].append(float(df[df.Country == country][df.Year == year].BMI))

In [19]:
df = pd.DataFrame(dict)

df['Year'] = [i for i in range(years[0], years[-1]+1)]

df = df.set_index('Year')

df.to_csv('../data/processed/BMI_data.csv')